* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}
/* -------------Timer style --------------- */
.timer-style {
  background: linear-gradient(45deg, #1870ed 0, #f18f88 100%);
  min-height: 100vh;
}
.timer {
  margin-top: 30px;
  background-color: #080808;
  border-radius: 5px;
  padding: 30px 20px;
  box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.15),
    -4px 5px 8px 3px rgba(0, 0, 0, 0.25);
  display: inline-flex;
}
.field {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
}
.field:last-child {
  margin-right: 0;
}
.field:first-child {
  margin-left: 0;
}
.field:not(:last-child)::before,
.field:not(:last-child)::after {
  content: '';
  background-color: rgba(255, 255, 255, 0.3);
  height: 5px;
  width: 5px;
  border-radius: 50%;
  display: block;
  position: absolute;
  right: -21px;
}
.field::before {
  top: 35%;
}
.field::after {
  top: 50%;
}
.value {
  color: #fff;
  font-size: 4.2rem;
  text-transform: uppercase;
}
.label {
  color: rgba(255, 255, 255, 0.35);
  text-transform: uppercase;
  font-size: 0.7rem;
  margin-top: 10px;
}
a {
  color: #253175;
}
